.header {
  background: #FFFFFF;
}


.nav-link {
  color: brown;
}
.nav-link:focus,
.nav-link:hover {
  color: #2196F3;
}
.up-nav:focus,
.up-nav:hover {
  color: #2196F3;
}
.up-header {
  background: #FFFFFF;
}

