:root {
  --mainbackground-color: #E5E5E5;
  --secondbackground-color: #FFFFFF;
  --dark-background-color: #2F303A;

  --main-color: #FFFFFF;
  --sec-color:  #2196F3;

  --dark-main-color: #212121;
  --dark-sec-color: #757575;
  --dark-add-color: rgba(255, 255, 255, 0.6);

}

body {
  background-color: var(--mainbackground-color);
}



header {
  background: var(--main-color);
}
.header-link { 
 background-color:  var(--dark-background-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--sec-color);
}
.button {
 background-color:  var(--dark-background-color);
}
.main-text {
  color: var(--dark-main-color);
}
.sec-text {
  color: var(--dark-sec-color);
}
/*hero*/ 
.hero {
  background: var(--dark-background-color);
}
.hero-button{
  background: var(--sec-color);
}
.hero-button {
  color: var(--main-color);
}
.title {
  color: var(--main-color);
}
.main-background {
  color: var(--mainbackground-color);
}
/* footer */
.main-footer {
  background: var(--dark-background-color);
}
.addres {
  color: var(--main-color);
}
.malito {
  color: var(--dark-add-color);
}
.tel {
  color: var(--dark-add-color);
}